*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
}
:root{
    --red:#ef233c;
    --dark:#283618;
    --hover-light:#f8f9fa;
    --hover-red:rgba(239,35,60,0.1);
}

/* nav */
nav{
    display: flex;
    justify-content: center;
    align-self: center;
    width: 100%;
    border-bottom: 1px solid #ddd;
height: 8vh;
position: fixed;
background-color: white;
top: 0;
left: 0;
z-index: 99;


}

.nav__content{
 width: 100%;
 /* max-width: 1200px; */
 display: flex;
 justify-content: space-between;
align-items: center;
 padding: 0 1rem;
 max-width: 100%;
    padding-right: 5%;
    padding-left: 3%;
}

#heh{
    display:flex;
}
.new{
    color: rgb(255, 255, 255);
    height: 20px;
    padding: 0px 8px;
    border-radius: 10px;
    background-color: rgb(254, 44, 85);
    font-size: 13px;
    line-height: 20px;
    font-weight: 600;
    margin-left: 6px;
}
.logo{
    text-shadow: 2px 1px var(--red),-2px 1px #00bbf9;
    font-size: 2rem;
}

form{
    background-color: #eee;
    width: 400px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
}

form input{
    width: 80%;
    height: 70%;
    background-color: transparent;
    border: none; 
    outline: none;
    font-size: 18px;
    border-right: solid 1px #aaa;

}

form input::placeholder{
    color: #aaa;

}

form .fa-search{
    color: #aaa;
    margin-left: 20px;
    font-size: 20px;

}

nav .nav__btns{
    position: relative;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.nav__btns button {
    height: 100%;
    font-size: 18px ;
    font-weight: 700;
    
    background-color: transparent ;
    cursor: pointer;

}

.upload__btn{
    border: 1px solid var(--dark);
    border-radius: 5px;
    padding-left: 15px;
    padding-right: 15px;
}

.upload__btn:hover{
    background-color: var(--hover-light);
    
}

.nav__btns .login__btn {
    background-color: var(--red);
    padding: 0 35px;
    margin: 0 20px ;
    color: white;
    border-radius: 5px;
    border: none;
}
.dots__btn{
    padding: 5px 0;
        

}

.dots__btn i{
    font-size: 20px ;
    cursor: pointer;
    padding-left: 10px;

}


.dots__btn:hover .dots__info{
    display: flex;
    

}
.nav__btns .dots__info{
    position: absolute;
    bottom: -230px;
    right: -30px;
    display: none;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    background-color: white;
    box-shadow: 10px 0 10px #000000, 10px 0 -10px #0c0c0c;
    border-radius: 10px;
    border: 1px solid #ddd;
}

.dots__info a{
    font-size: 16px;
    margin: 8px 0;
    text-decoration: none;
    color: black;

}
.dots__info a:hover{
    background-color: var(--hover-light);
   
}
.dots__info a i{
    margin-right: 10px;

}

.tongthe{
    margin-top: 60px;
    display: flex;
    width: 100%;
    max-width: 100%;
    -webkit-box-pack: justify;
    justify-content: space-between;
    align-self: center;
    flex: 1 1 auto;
}


/* sidebar  */

.sidabar{
   position: fixed;
   top: 8vh;
   width: 20%;
   left: 2%;
   max-width: 650px;
   height: 92vh;
   padding-right: 5%;
   overflow-y: auto;

    
}

.sidabar::-webkit-scrollbar{
    display: none;
}

.sidabar .menu{
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #ddd;
    padding: 15px 0;
}

.sidabar .menu .menu__link{
    text-decoration: none;
    color: var(--dark);
    font-size: 20px;
    font-weight: 700;
    padding: 10px 0;
}

.sidabar .menu .menu__link:first-of-type{
    color: var(--red);

}

.sidabar .menu .menu__link:hover{
background-color: #f8f9fa;
}
.menu__link i{
    margin-right: 10px;

}
.login__area{
    /* display: flex; */
    border-bottom: 1px solid #ddd;
    border-top: solid 1px #ddd;
    padding: 10px 0;
}

.login__area p{
    color: #ddd;
    font-size: 20px;
    margin-bottom: 1rem;
    line-height: 22px;
}

.login__area button{
    border: solid 1px var(--red);
    outline: none;
    background-color: white;
    width: 100%;
    font-size: 22px;
    font-weight: 700;
    color: var(--red);
    padding: 10px 0;
    border-radius: 5px;
    cursor: pointer;
    margin: 1rem 0;
}

.login__area button:hover{
    background-color: var(--hover-red);
   
}

.suggested{
    padding: 10px 0;
    border-bottom: 1px solid #ddd;

}

.suggested h3, .discover h3{
    color: #aaa;
    font-weight: 500;
}

.suggested__container{
    height: 400px;
    overflow: hidden;
}

.info1 a{
    display: flex;
    margin: 10px 0;
    text-decoration: none;
}

.info1 a:hover{
    background-color: var(--hover-light);
}

.suggested__container.expanded{
    height: 650px;
}


.suggested__container .suggestion{
    display: flex;
    margin: 25px 0;
    text-decoration: none;

}

.suggested__container .suggestion:hover{
    background-color: var(--hover-light);

}

.suggestion .suggested__pic{
    height: 45px;
    width: 45px;
    background-size: cover;
    border-radius: 50%;
    margin-right: 20px;
    border: 1px solid #ddd;
}

.suggestion h3,
.suggestion small{
color: var(--dark);

}

.suggested button{
    border: none;
    color: var(--red);
    background-color: transparent;
    cursor: pointer;
    outline: none;
    margin: 1rem 0;
    border: 1px solid var(--red);
    padding: 10px;
    border-radius: 5px;
    transition: 0.3s;
}

.suggested button:hover{
    background-color: red;
    color: white;
}

.discover{
    padding: 1rem 0;

}

.discover .discover__container{
    margin: 1rem 0;
    display: flex;
    flex-wrap: wrap;
}
.discover__container a{
    text-decoration: none;
    color: #aaa;
    border: #aaa 1px solid;
    margin: 0 10px 10px 0;
    padding: 5px 15px;
    border-radius: 50px;

}

.discover__container a:hover{
    background-color: var(--hover-light);
    color: blue;
    transition: 0.3s;
}



/* feed */
.feed{
    width: 80%;
    max-width: 750px;
    height: 92vh;
    padding: 1rem 0;
    position: fixed;
    overflow-y: scroll;
    top: 8vh;
    left:30%;
    padding:5px 0px 0px 5px;
}

.feed::-webkit-scrollbar{
    display: none;
}

.post{
    border-bottom: solid 1px #ddd;
    padding: 1rem 0;
}

.post__top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    margin-bottom: 1rem;
}

.post__top .post__pic{
    width: 60px;
    height: 60px;
    margin: 5px 5px 20px 5px;
    border-radius: 50%; 
    background-size: cover;
    background-position: center;
}

.post__top .post__info{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;

}

.post__info h2{
    font-size: 16px;
    font-weight: 700;
}

.post__info small {
    font-weight: 300;
    font-size: 14px;
}
.post__info p{
    margin-top: 10px;
    margin-bottom: 5px;
    width: 85%;
}

.post__top button{
    border: none;
    width: 110px;
    height: 30px;
    color: var(--red);
    background: transparent;
    border: solid 2px var(--red);
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    text-transform: capitalize;

}

.post__top button:hover {
    background-color: rgba(239, 35, 60, 0.1);
}

.post__body {
    display: flex;
    position: relative;
}


.post__body video{
    border-radius: 10px;
    object-fit: fill;
    margin-left: 65px;
}

.post__body .actions{
    position: absolute;
    bottom: 5%;
    left: 50%;
    text-align: center;
    transform: translateX(10%);
}


.actions .action__icon{
    font-size: 30px;
    background-color: #eee;
    margin: 25px 10px;
    padding: 12px;
    border-radius: 50%;
    cursor: pointer;
    
}

.actions .action__icon:hover{
    background-color: #ddd;
    
}

/* .actions .action__icon .text3post p .text3so{
    font-size: 14px;
    font-weight: 300;
    text-align: center;
    color: var(--dark);
} */
.text3post {
  
    
  
    font-size: 14px;
    font-weight: 300;
    text-align: center;
    color: var(--dark);
}


/* dong duoi foodter menu */
.dongtext{
    flex-direction: column;
    align-items: center;
    position: relative;
}
.dongtext h4{
    font-size: 15px;
    line-height: 22px;
    margin-top: 10px;
    color: rgba(22, 24, 35, 0.7);
   
    font-weight: 700;
}

.dongtext .containertext{
  margin-bottom: 8px;
}
.dongtext a{

    text-decoration: none;
    color: rgba(22, 24, 35, 0.3);
    font-size: 13px;
    font-weight: 700;
    margin-bottom: -8px;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    display: inline-block;
    margin-right: 6px;
    margin-top: 5px;
}
   
.more1{
    padding: 20px 30px;
    background-color: white;
    position: absolute;
    top: 0;
    left: 1;
}

#btn2{
    margin-top: 10px;
    position: absolute;
    bottom: 10%;
    right: 0;
}
/* post */
.recommed2{
    text-decoration: none;
    color: #0400f9;
}
.recommed3{
    text-decoration: none;
    color: #0c0c0c;
}



/* man hinh nho */
/* @media screen and (max-width: 1008px) {
   .sidabar{
    border-right: #aaa;
    min-width: 100px;
   }
   .sidabar.menu .menu__link a p{
        font-size: 0px;
      color: white;
   }
} */
@media screen and (max-width:900px) {
    form{
        display: none;
    }

    #heh p{
        display: none;
    }

    .sidabar{
        border: 1px solid #aaa;
    border-left: #aaa;
    width: 10%;
   }
    #heh .new{
        display: none;
        width: 50px;
    }
    .login__area{
        display: none;
    }

    .suggested {
        display: none;
        border: 1px solid #aaa;
        border-bottom: #aaa;
    }

    .follow__btn{
        margin-right: 30%
    }
}